<!DOCTYPE html>
<html lang="en">
 <%- include('../partials/head.ejs') %> 
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <div class="buttons-container">
            <a href="/animals"><button>Back</button></a>
        </div>
        <div >
            <form id="form-profile" class="profile" action="/animals/<%= animal._id %>?_method=PUT" method="POST">
                <fieldset >
                    <p>Edit <%=animal.species  %>: </p>
                    <label>Species: <input type="text" name="species" value="<%= animal.species  %>"></label>
                    <label>Image Url: <input type="text" name="img" value="<%= animal.img  %>"></label>
                    <label>Extinct: <input type="checkbox" name="extinct" <%= animal.extinct ? "checked" : ""  %>></label>
                    <label>Location: <input type="text" name="location" value="<%= animal.location  %>"></label>
                    <label>Life Expectancy: <input type="number" name="lifeExpectancy" value="<%= animal.lifeExpectancy %>"></label>
                    <input type="submit" value="Update" id="form-button">

                </fieldset>
            </form>
        </div>
    </main>
    
</body>
</html>