<!DOCTYPE html>
<html lang="en">
 <%- include('../partials/head.ejs') %> 
<body>
    <%- include("../partials/header.ejs") %>

    <main>
         <a href="/animals/new"><button>Add New Animal</button></a>
        <div class="container">
           
            <% for(animal of animals){ %> 
                <section class="card">
                    <div class="img-container">
                         <img src="<%= animal.img %> " alt="<%= animal.species %> " >
                    </div>
                   
                    <a href="/animals/<%= animal._id %> ">
                            <h2><%= animal.species  %> </h2>
                            <p>see more...</p>
                    </a>
                    
                </section>
            <% } %>     
        </div>
    </main>
    
</body>
</html>