<!DOCTYPE html>
<html lang="en">
 <%- include('../partials/head.ejs') %> 
<body>
    <%- include("../partials/header.ejs") %>

    <main>
        <a href="/animals"><button>Back</button></a>
        <a href="/animals/<%= animal._id %>/edit "><button>Edit</button></a>
        <div class="container">
            
            <article class="profile">
                <div> <h2>Species: <%= animal.species %> </h2>
                <h2>Extinct: <%=  animal.extinct %> </h2>
                <h2>Location: <%= animal.location %> </h2>
                <h2>Life Expectancy: <%= animal.lifeExpectancy %> </h2></div>

                <div><img id="profile-img" src="<%= animal.img %> " alt="lion" ></div>
               
            </article>
           
        </div>
         <form action="/animals/<%= animal._id  %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete">
            </form>
    </main>
    
</body>
</html>